// ------------------------------------------------------------
// Font sizes
// ------------------------------------------------------------

%fs-body {
	font-size: 18px;
	line-height: 28px;
}

%fs-capitals-small {
	font-size: 10px;
	line-height: 22px;
}

%fs-capitals-medium {
	font-size: 14px;
	line-height: 17px;
}

%fs-capitals-big {
	font-size: 18px;
	line-height: 24px;
}

%fs-huge {
	font-size: 33px;
	line-height: 45px;
}