// ------------------------------------------------------------
// Buttons Styles
// ------------------------------------------------------------

%btn-base {
	@extend %browser-ui-reset;
	background-color: transparent;
	border: 2px solid $text_color;
	color: $text_color;
	text-decoration: none;
	@include fontsize(1.6);
	padding: 5px 13px 6px;
	padding: 0.5rem 1.3rem 0.6rem;
	@include transition(all .3s ease);
	@extend %circular-book;
}

button {
	@extend %circular-bold;
}

.btn-simple {
	@extend %btn-base;
	&:hover {
		background-color: $text_color;
		border-color: $text_color;
		color: $white;
	}	
}

.btn-action {
	@extend %btn-base;
	color: $brand_color_primary;
	border-color: $brand_color_primary;
	&:hover {
		background-color: $brand_color_primary;
		border-color: $brand_color_primary;
		color: $white;
	}
}

.btn-info {
	@extend %btn-base;
	color: $info_grey;
	border-color: $info_grey;
	&:hover {
		background-color: $brand_color_primary;
		border-color: $brand_color_primary;
		color: $white;
	}
}

.btn-action-black{
	@extend %btn-base;
	// display: block;
	// text-align: center;
	// margin: 0 auto;
	color: $black;
	border-color: $black;
	&:hover {
		background-color: $black;
		border-color: $black;
		color: $white;
	}
}

.link-underline{

	&:after {
		content: '';
		display: block;
		width: 0;
		height: 2px;
		background-color: $text_color;
		@include transition(all .2s ease);
	}
	&:hover {
		color: $text_color;
		&:after {
			width: 100%;
		}
	}
}

.btn{
	background-color: $white;
	color: $black;
	border: none;
	text-transform: uppercase;
	@include fontsize(1.2);
	@extend %circular-bold;
}

// Submission Button
.submit{
	display: block;
	margin: 0 auto;
	padding: 15px;
	text-align: center;
	text-transform: uppercase;
	@include fontsize(1.4);
}

.submit:hover{
	background-color: $dark_black;
}

.submit:focus{
	outline: none;
}

// Overview btn
.btn-overview{
	background-color: $black;
	color: $white;
	border: none;
}

// Target Button
%tar_button{
	width: 69.88px;
	height: 69.88px;
	text-indent: -999999px;
	background:$info_grey url(../svg/target.svg) no-repeat center center;
	@include fontsize(2);
	float: right;
	border: none;
	color: white;
	outline: 0;
	top: -3px; 
	right: 0;
}
%target_button { // New
	width: 70px;
	height: 70px;
	@include fontsize(2);
	float: right;
	border: none;
	color: white;
	outline: 0;
}

// Book Tickets || Mobile only
.target_tickets{
	display: none;
}

@include respond-to(small-screens){
	.target_tickets{
		display: block;
		height: 40px;
		position: fixed;
		bottom: 0;
		z-index: 99999;
		width: 100%;
	}
}
