// ------------------------------------------------------------
// CSS by FancySelect
// Source: http://code.octopuscreative.com/fancyselect/
// Note: CSS override at line 155
// ------------------------------------------------------------

.fancy-select {
	outline: 0;
	border: 0; 
	color: $black;
	@extend %circular-book;
	display: inline-block;
	position: relative;
	display: inline-block;
	position: relative;
	top: 16px;
	
}

.fancy-select.disabled {
	opacity: 0.5;
}

.fancy-select select:focus + .trigger {
	//box-shadow: 0 0 0 2px #4B5468;
}

.fancy-select select:focus + .trigger.open {
	box-shadow: none;
}

.fancy-select .trigger {
	@include fontsize(2.1);
	border-radius: 4px;
	cursor: pointer;
	padding: 0 27px 0 0;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	position: relative;
	background: #99A5BE;
	border-top-color: #A5B2CB;
	color: $black;
	width: 200px;

	transition: all 240ms ease-out;
	-webkit-transition: all 240ms ease-out;
	-moz-transition: all 240ms ease-out;
	-ms-transition: all 240ms ease-out;
	-o-transition: all 240ms ease-out;
}

.filter-zone p {
	@include fontsize(3.3, 2.5);
	margin: $fs*9 0 $fs*3 0;
}	

.fancy-select .trigger:after {
	content: "";
	display: block;
	position: absolute;
	width: 8px;
	height: 8px;
	border-bottom: 1px solid $brand_color_tertiary;
	border-right: 1px solid $brand_color_tertiary;
	@include rotate(45deg);
	border-top-color: #4B5468;
	top: 11px;
	right: 9px;
}

.fancy-select .trigger:hover {
	color: $text_color;
}

.fancy-select .trigger.open {
	color: $text_color;
	box-shadow: none;
}

.fancy-select .trigger.open:after {
	border-top-color: #7A8498;
}

.fancy-select .options {
	list-style: none;
	margin: 0;
	position: absolute;
	top: 40px;
	left: -10px;
	visibility: hidden;
	opacity: 0;
	z-index: 50;
	max-height: 200px;
	overflow: auto;
	border-top: 2px solid $brand_color_secondary;
	box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
	min-width: 200px;
	background-color: $white;
	@include translateY(-10px);
	@include transition(all .3s ease-out);
}

.fancy-select .options.open {
	visibility: visible;
	opacity: 1;
	@include translateY(0);

	/* have to use a non-visibility transition to prevent this iOS issue (bug?): */
	/*http://stackoverflow.com/questions/10736478/css-animation-visibility-visible-works-on-chrome-and-safari-but-not-on-ios*/
	transition: opacity 300ms ease-out, top 300ms ease-out;
	-webkit-transition: opacity 300ms ease-out, top 300ms ease-out;
	-moz-transition: opacity 300ms ease-out, top 300ms ease-out;
	-ms-transition: opacity 300ms ease-out, top 300ms ease-out;
	-o-transition: opacity 300ms ease-out, top 300ms ease-out;
}

.fancy-select .options.overflowing {
	top: auto;
	bottom: 40px;

	transition: opacity 300ms ease-out, bottom 300ms ease-out, visibility 300ms ease-out;
	-webkit-transition: opacity 300ms ease-out, bottom 300ms ease-out, visibility 300ms ease-out;
	-moz-transition: opacity 300ms ease-out, bottom 300ms ease-out, visibility 300ms ease-out;
	-ms-transition: opacity 300ms ease-out, bottom 300ms ease-out, visibility 300ms ease-out;
	-o-transition: opacity 300ms ease-out, bottom 300ms ease-out, visibility 300ms ease-out;
}

.fancy-select .options.overflowing.open {
	top: auto;
	bottom: 50px;

	transition: opacity 300ms ease-out, bottom 300ms ease-out;
	-webkit-transition: opacity 300ms ease-out, bottom 300ms ease-out;
	-moz-transition: opacity 300ms ease-out, bottom 300ms ease-out;
	-ms-transition: opacity 300ms ease-out, bottom 300ms ease-out;
	-o-transition: opacity 300ms ease-out, bottom 300ms ease-out;
}

.fancy-select .options li {
	padding: 8px 12px;
	cursor: pointer;
	color: $brand_color_tertiary;
	white-space: nowrap;
	@include fontsize(1.6);

	transition: all 150ms ease-out;
	-webkit-transition: all 150ms ease-out;
	-moz-transition: all 150ms ease-out;
	-ms-transition: all 150ms ease-out;
	-o-transition: all 150ms ease-out;
}

.fancy-select .options li.selected {
}

.fancy-select .options li.hover {
	color: $text_color;
	background-color: #fafafa;
}


// ------------------------------------------------------------
// Override
// ------------------------------------------------------------

.fancy-select .trigger {
	background-color: $white;
	border-radius: 0;
	color: $brand_color_tertiary;
	box-shadow: none;
	width: auto;
}