// ::Imports pre-render. Must be after reset
// ------------------------------------------------------------
@import "libs/required";
@import "libs/reset";
@import "libs/settings";
@import "libs/mixins";
@import "libs/placeholders";
@import "libs/ss-gizmo";

// ------------------------------------------------------------
// Helpers Loading
// ------------------------------------------------------------

@import "helpers/colors";
@import "helpers/font-sizes";
@import "helpers/queries";
@import "helpers/z-index";
@import "helpers/valign";

// Use SASS globbing to import all _.scss files in the module folder.
// These should be independent modules that follow the BEM/SMACSS way
// @import "modules/*"; 



/* ::Base styles */
/* ------------------------------------------------------------ */

html {
	font-size: 62.5%; // scale REM base settings: 1rem = 10px
	@include respond-to-max(768px, $IE9: false) { // Stop at precise width, as we're talking about devices
		-webkit-text-size-adjust: 100%;	// Stops text scaling in iOS.
	}
}

// unit in use. 
$fs:1rem;

body{
	@extend %circular-book;
	background-color: $white;
	&.prevent-scroll {
		// overflow: hidden;
		position: relative;
		&:before {
			position: absolute;
			content: '';
			display: block;
			width: 100%;
			height: 100%;
			background-color: #000;
			background-color: rgba(0, 0, 0, .6);
			z-index: $z-body-overlay;
		}
	}
}

h1,h2, p, a, li a,span,q,blockquote,button,input {
  font-smoothing: antialiased;
  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;
  -ms-font-smoothing: antialiased;
}

.wrapper {
	max-width: 1200px;
	width: 90%;
	margin: 0 auto;
	position: relative;
}

.wrapper.full-width {
	max-width: 90%;
	max-width: 1900px;
}

.content {
	@include transition(transform .2s ease);
	margin-top: 65px;
	position: relative;
}

.content.with-sub-nav {
	margin-top: 122px;
	@include respond-to(nav-breakpoint) {
		margin-top: 140px;
	}
}

.content.home {
	background-color: #f3f3f3;
}

::-webkit-input-placeholder {
	color: $info_grey;
}


/* ::Import styles */
/* ------------------------------------------------------------ */

@import "libs/typography"; 	
@import "libs/gridset";				
// @import "libs/forms";					// Forms
// @import "add-ons/module-typeset"; 		// Specific typesetting
// @import "add-ons/grid"; 					// Grid system


// ------------------------------------------------------------
// Modules
// ------------------------------------------------------------

// Overview main settings
@import "modules/overview/settings";

// Main modules
@import "modules/buttons";
@import "modules/search";
@import "modules/navigation";
@import "modules/select";
@import "modules/links";
@import "modules/lists";
@import "modules/overlays";
@import "modules/target.scss";
@import "modules/schedule.scss";
@import "modules/arrow.scss";
@import "modules/sum-poster.scss";
@import "modules/pagination.scss";



// Home module
@import "modules/home/introduction";
@import "modules/home/news";
@import "modules/home/booking";
@import "modules/home/search-block";

// Events modules
@import "modules/events/filter-zone";
@import "modules/events/blocks";
@import "modules/events/cards";

// Overview modules
@import "modules/overview/introduction";
@import "modules/overview/about-text";
@import "modules/overview/video";
@import "modules/overview/text";
@import "modules/overview/blockquote";
@import "modules/overview/addon";
@import "modules/overview/casting";
@import "modules/overview/footer";
@import "modules/overview/slider";
@import "modules/overview/news";
@import "modules/overview/sidebar";

// Maps module
@import "modules/map/map";
@import "modules/map/sidebar";
@import "modules/map/slider";

// Page Simple
@import "modules/page-simple/introduction";
@import "modules/page-simple/content";
@import "modules/page-simple/sidebar";
@import "modules/page-simple/footer";

//Generc Footer
@import "modules/footer"
