// ------------------------------------------------------------
// Simple page sidebar
// ------------------------------------------------------------

// Displaying on the grid
.page-sidebar{
	@include gs-span(d, 7,9);
	margin-top: $fs*7;
	margin-bottom: $fs*7; // TO REMOVE
}

.page-sidebar__main-title {
	display: none;
}

.page-sidebar__main-content{
	width: 100%;
}

.page-sidebar__picture img {
	max-width: 100%;
	height: auto;
	display: block;
}

// Media queries 

@include respond-to(medium-screens){
	.page-sidebar {
		clear: both;
		border-top: 4px double $brand_color_secondary;
	}
	.page-sidebar__main-title {
		display: block;
	}
	.page-sidebar-lists{
		width: 50%;
		float: left;
	}
	.page-simple__legend{
		text-align: left;
	}
}

@include respond-to(medium-screens){
	.page-sidebar{
		@include gs-span(t, 1, 6);
	}
}

@include respond-to(small-screens){
	.page-sidebar{
		@include gs-span(t, all);
		.view-more-overlay {
			width: 100%;
		}
	}
}


@include respond-to(small-screens){
	.page-sidebar-lists{
		width: 100%;
	}
	.page-simple__legend{
		text-align: center;
	}
}



// The sidebar Styling

// Main picture
.page-sidebar__picture {
	width: 100%;
	@include respond-to(medium-screens) {
		width: #{gs-width(t, 1, 4) + '%'};
		float: none;
	}
	@include respond-to(x-small-screens) {
		width: 100%;
	}
}

// All images
.page-sidebar img {
	max-width: 100%;
	height: auto;
	display: block;
}

// The wrapper for content below the main picture
.page-sidebar__wrapper {
	overflow: hidden;
}

.page-sidebar__info-list li {
	@extend %fs-medium;
	color: $text_color;
	strong {
		color: $text_color;
	}
	&:before{
		content:'—';
		padding-right: $fs*2;
	}
}

.page-sidebar__info-list-numbered li {
	@extend %fs-medium;
	list-style-type: decimal;
	padding-left: 14px;
	color: $text_color;
	strong {
		color: $text_color;
	}
}

.page-sidebar__info-list-numbered{
	-webkit-padding-start: 10px;
	-webkit-margin-before: 10px;
	-webkit-margin-after: 10px;
	-webkit-margin-start: 10px;
	-webkit-margin-end: 10px;
}

.page-sidebar

.page-sidebar__definition-list {
	// padding-top: $fs*2.5;
}
.page-sidebar__definition-list dt,
.page-sidebar__definition-list dd p {
	@extend %fs-medium;
}
.page-sidebar__definition-list dt {
	text-decoration: underline;
}
.page-sidebar__definition-list dd strong {
	color: $brand_color_primary;
}
.page-sidebar__definition-list dd + dt {
	margin-top: $fs*2.5;
}



// Typography
.page-sidebar__description {
	@extend %fs-extra-medium;
}
.page-sidebar__links-list a {
	@extend %fs-medium;
}

